.container {
  max-width: 1220px;
  margin: 0 auto;
}

.font-1-xxl{
  text-transform: uppercase;
  font-size: 6rem; 
  font-family: var(--font-h1);
}

.font-1-xl {
  text-transform: uppercase;
  font-family: var(--font-h1);
  font-size: 2.5rem; 
}

.font-1-l {
  text-transform: uppercase;
  font-family: var(--font-h1);
  font-size: 1.5rem; 
}

.font-1-m {
  font-size: 1.5rem;
  font-family: var(--font-1-m);
  color: #d2d2d2;
}



.bg-claro {
    background-color: var(--cor-primary-clara);
}

.bg-escuro {
  background-color: var(--cor-primary-escura);
}

.bg-escuro {
  background-color: var(--cor-primary-escura);
}

@media (max-width: 1000px){
  .font-1-xxl {
    font-size: 4rem;
  }

  .font-1-xl {
    font-size: 1.5rem; 
  }

  .font-1-m {
    font-size: 1rem;
  }
}

@media (max-width: 800px){
  .font-1-xl {
    font-size: 2.5rem; 
  }
}

@media (max-width: 500px){
  .font-1-xxl {
    font-size: 2.5rem; 
  }
}


