.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #e2e2e2;
  padding-bottom: 60px;
}

.footer h2 {
  margin-bottom: 40px;
  color: #f2f2f2;
}

.menu-footer li + li{
  margin-top: 16px;
}

@media (max-width:800px) {
  .footer {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .footer-column {
    text-align: center;
  }

  .footer-column + .footer-column {
    margin-top: 40px;
  }

  .footer h2 {
    margin-bottom: 20px;
    color: #e2e2e2;
  }

  .footer-column p {
  }

  .h2 {
    font-size: 2.5rem;
  }
}