
.intro {
  height: calc(100vh - 59px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-bottom: 160px;
}

.img-intro {
  max-width: 570px;
  height: 480px;
  margin-top: 236px;
}

.img-intro img {
  width: 100%;  
  height: 100%;  
  opacity: .8;
  object-fit: cover;
  object-position: center;

}

.intro h1 {
  margin-top: 60px;
  position: absolute;
  margin-left: 100px;
  line-height: 1.5;
}

.intro span {
  margin-left: 540px;
}



/* sobre */
.sobre  {
margin-bottom: 120px;
}

.sobre h1 {
  margin-left: 3rem;
  margin-bottom: 60px;
}

.sobre-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.sobre-content p {
  font-size: 1.625rem;
  line-height: 1.4;
  font-family: var(--font-p);
  text-align: right;
  margin-right: 16px;
}

.sobre-img {
  max-width: 714px;
}

.sobre-img img {
  width: 100%;
}



/* exepience */

.experience {
  margin-bottom: 120px;
}
.experience h1 {
  margin-bottom: 60px;
  margin-left: 16px;
}

.expe-item {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  padding: 16px;
  background-color: var(--cor-primary-clara);
  border-radius:4px;
}
.expe-item span {
  display: block;
  margin-bottom: 40px;
}

.expe-item h2 {
  margin-bottom: 20px;
}

.expe-item {
  font-family: var(--font-mono);
}

/* works */
.works {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: var(--cor-primary-escura);
  padding-bottom: 120px;
}

.works h1 {
  text-align: center;
  color: #113A05;
  margin-top: 60px;
  margin-bottom: 60px;
}

.slide {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  font-family: var(--font-mono);
}

.slide-img {
  height: 400px;
  margin-bottom: 20px;
}

.slide-img img{ 
  height: 100%;
  filter: saturate(0);
}

.slide-img img:hover{ 
  filter: saturate(1);
}


.slide-item h3 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #438032;
}


.slide-item h3::before {
  content:"";
  display: inline-block;
  width: 0px;
  height: 3px;
  background-color: var(--cor-primary-clara);
  transition: width .3s;
}

.slide-item a:hover h3::before {
  width: 20px;
  margin-right: 12px;
}

.slide-item p {
  font-size: 1.25rem;
  color: var(--cor-primary-clara);
  margin-bottom: 10px;
}